<div id="review" class="col-2">
  <div class="review-details">
    <p> <strong>Rating:</strong> <%= 'â­'*review.rating %> </p>
    <p> <strong>Review:</strong> <%= review.content %> </p>
  </div>
</div>
